#navbar{
    display:grid;
grid-template-columns: repeat(2,1fr);
display: fixed;


}
body{
    margin:0px;
    padding:0px;
}
#logo{
    width:10%;
}
#navbar>div{
    border:1px solid red;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#navbar>:nth-child(2){
   
 
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
     
    padding-left: 200px;

}
#lock{
    width:15%;
}
#globe{
width: 14%;;
}
#getdemo{
    background-color: #ee7549;
   
    font-size: 20px;
    padding:6px;
    font-weight: bold;
    border-radius:4px;
}
#product{
    border:1px solid red;
    display:grid;
    transition: 0.4ms;
    grid-template-columns: repeat(5,1fr);
    display: none;
  background-color: rgb(41, 40, 40);
    display:absolute;
    
   

}

#product h4{
    color:#5C07D1
}
#product>div{

align-items: center;
padding-left: 50px;
padding-top:20px;
}
#second{
    width: 300px;
   line-height: 25px;
}