/* CUSTOMISED DEMO */
#customized{
    display: flex;
    margin-top: 230px;
    background-image: linear-gradient(45deg, #26069a, #993fbd); 
}
#oclaimages{
display: flex;
justify-content: end;
margin-top: 40px;
margin-bottom: 40px;
}
#oclaimages img{
width: 70%;
}
#robinlambart{
width: 250px;
background-color: white;
padding: 30px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-left: 100px;
margin-top: -100px;
}
#robinlambart>p:nth-child(3){
font-size: 16px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#robinlambart>p:nth-child(4){
font-size: 18px;
color: black;
font-weight: 600;
}
#livestrom{
  color: rgb(33, 141, 209);
}
#cicularimage{
border-radius: 100%;
width: 100px;
height: 100px;
}
#cicularimage img{
width: 100px;
border-radius: 100%;
}
#rightdoua{
font-size: 80px;
position: absolute;
margin-top: -75px;
margin-left: 190px;
color: #500ad2;
}
#workflow{
display: flex;
flex-direction: column;
justify-content: center;
}
#workflow h1{
margin: auto;
margin-left: 50px;
color: white;
font-size: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.buttonIn {
display: flex;
margin-left: 50px;
margin-top: 0px;
margin-bottom: 150px;
align-items: center;
}
.buttonIn input{
height: 50px;
width: 400px;
border-radius: 25px;
border: none;
position: relative;
background-color: #1d0968;
outline: none;
font-size: 20px;
color: white;
}
#enterbtnn{

height: 40px;
border-radius: 20px;
border: none;
background-color: #7f45ff;
font-size: 18px;
font-weight: 500;
color: white;
position: absolute;
left: 343px;
cursor: pointer;
}


@media all and (min-width:500px) and (max-width:900px){

      #customized{
        display: flex;
        flex-direction: column-reverse;
    }
   .buttonIn{
    margin-top: 40px;
   }
   #oclaimages{
    padding-left: 20px;
   }
}


@media all and (min-width:300px) and (max-width:500px){
    #customized{
        display: flex;
        flex-direction: column-reverse;
    }
   .buttonIn{
    margin-top: 40px;
   }
   #oclaimages{
    padding-left: 20px;
   }

}